.App {
  text-align: center;
  min-height: 100vh;
}

.canvas-container {
  width: 75%;
  height: 75vh;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar-overlay{
    display: grid;
    position:relative;
    top: -60%;
    width: 15%;
}

.avatar-overlay-dialog{
    display: grid;
    position:relative;
    top: -60%;
    width: 100%
}
.avatar-grid{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;

    width: 75px;
    height: 200px;
    
    background-color: #ff0000;
    border: 1px solid #000;
    border-radius: 25px;
}

.avatar{
    width: 50px;
    height: 50px;
    
    padding: 5px;
   
    margin: auto auto;
    border: 1px solid #000;
    border-radius: 100%;
}

.avatar-0{
    background: url('./img/icons8-administrator-94.png');
    background-size: 50px 50px;
    background-color: #fff;
}

.avatar-1{
    background: url('./img/icons8-account-96.png');
    background-size: 50px 50px;
    background-color: #fff;
}

.dialog{
    display: grid;
     position: relative;
    top: -80%;

    grid-template-columns: auto;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr; /* picture, name, character description, dialog */
    
    width: 50%;
    height: 400px;

    margin: auto auto;
   
    background-color: #00aaaa;
    border: 1px solid #000;
    border-radius: 50px 50px 50px 0px;

}

.dialog > h1 {
    font-size: 32px;
    margin: 0;
}

.dialog > h2 {
    font-size: 16px;
    color: #444444;
    margin: 0;
    padding: 0;
}

.dialog > p {
    font-size: 24px;
    margin: 0;
    padding: 0;
}



