.App {
  text-align: center;
  min-height: 100vh;
}

.tile-popup {
  display: flex;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 1rem;
  padding: 1rem;
}

.tile-popup-info {
  display: flex;
}

.tile-popup-info-item {
  margin-right: 1rem;
}

.canvas-container {
  width: 75%;
  height: 75vh;
  margin: auto;
  padding-bottom: 50px;
}

.info-header {
  display: flex;
  justify-content: center;
}

.info-header-item {
  width: 15%;
}

.end-turn {
  margin-left: 1rem;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.shop-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 45px;
  padding: 10px 30px;
  background-color: rgb(30, 194, 30);
  color: white;
  font-size: large;
  z-index: 10;
}

.shop-button:hover {
  border: 1px solid white;
  background-color: rgb(64, 130, 42);
}

.shop {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.632);
  color: green;
  height: 100vh;
  width: 100vw;
  font-weight: bold;
}

.shop-component {
  position: relative;
  background-color: rgb(30, 194, 30);
  color: green;
  height: 70%;
  width: 60%;
  top: 15%;
  margin: auto;
  border-radius: 30px;
}

.shop-heading {
  margin-bottom: 10px;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.shop-items {
  height: 80%;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.shop-item {
  text-align: center;
  /* border: "1px solid transparent"; */
  border-radius: 15px;
  justify-content: center;
}

.shop-item:hover {
  box-shadow: 1px 1px 5px white;
}

.item-image {
  width: 80px;
  border: 1px solid white;
  border-radius: 60px;
  padding: 5px;
  margin-top: 25px;
}