.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
}

.tile-popup {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  font-size: 1rem;
}

.tile-popup-info {
  display: flex;
  justify-content: center;
}

.tile-popup-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tile-popup-button-item {
  width: 100%;
}

.tile-popup-title {
  margin: 0 0 0.5rem 0;
}

.tile-popup-info-title {
  margin: 0;
}

.tile-popup-warn {
  margin: 0;
}

.tile-popup-cancel {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 0 0.2rem;
  font-weight: bold;
}

.tile-popup-button {
  width: 100%;
  font-size: 1rem;
  padding: 0 0.5rem;
  white-space: nowrap;
}

.tile-popup-button > h4 {
  margin: 1rem;
}

.canvas-container {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.info-header {
  position: absolute;
  top: 2%;
  left: 12.5%;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 1rem;
  padding: 1rem;
  width: 75%;
  font-size: calc(1rem + 0.5vw);
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

.info-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-header-button {
  height: 100%;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 30px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 45px;
  padding: 8px 18px 10px 18px;
  background-color: rgba(255, 255, 255);
  color: black;
  font-size: large;
  z-index: 11;
  transition: 150ms;
}

.close-button:hover {
  padding: 8px 22px 10px 22px;
  top: -13px;
  right: -13px;
  font-size: x-large;
  transition: 250ms;
}

.season-icon {
  width: 50px;
  height: 50px;
  background-size: 20px;
  margin-right: 5%;
}
