.inventory {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.632);
}

.inventory-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.65);
  color: green;
  padding-bottom: 10px;
  height: 70%;
  width: 60%;
  top: 15%;
  margin: auto;
  border-radius: 30px;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.inventory-button {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 45px;
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: large;
  z-index: 0;
  position: absolute;
  bottom: 50px;
  right: 200px;
}

.inventory-button:hover {
  padding: 12px 33px;
  bottom: 49px;
  right: 195px;
  transition: 300ms;
}

#inventory-close-button{
  position: absolute;
}


.grid {
  height: 80%;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow-y: scroll;
}

img {
  width: 80px;
  height: 80px; 
  border: 1px solid white;
  border-radius: 60px;
  padding: 5px;
  margin-top: 5px;
}

.item {
  text-align: center;
  border: 1px solid white;
  border-radius: 15px;
  justify-content: center;
  height: 100%;
}

.item-info {
  color: white;
  font-size: large;
  margin-top: -3%;
}

#inventory-title {
  color: white;
  margin-bottom: 10px;
}

.quantity-title {
  color: white;
  height: 100%;
  font-size: medium;
}

.quantity {
  font-size: medium;
  margin-left: 5%;
}

.sell {
  display: inline-block;
}

.quantity-info {
  display: flex;
  margin-top: 5%;
  margin-left: 25%;
}

.quantity-info > h4{
  margin:0;
  padding:0;
  margin-block-start: 0;
  margin-block-end: 0;

}

.quantity-info > p{
  margin:0;
  margin-left: 25px;
  padding:0;
  margin-block-start: 0;
  margin-block-end: 0;

}