.season-transition {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100vw;
    z-index: 12;
  }

  
  .season-transition-component {
    position: relative;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
    height: 40%;
    width: 75%;
    top: 25%;
    margin: auto;
    border-radius: 30px;
   
  }
  
.transition-grid{
  display: grid;
  /* grid-template-columns: 33%; */
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  margin-top: 17%;
  position: relative;
  width: 50%;
  margin-left: 25%;
  justify-self: center;
  border: 1px solid;
  border-radius: 30px;
  transition: opacity 0.3s, visibility 0.3s;

}
.background-img-fall{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* width: max-content; */
  opacity: 0.4;
  margin: 0;
  border: 0px;
  border-radius: 0;
  padding: 0;
  -webkit-animation-name: fadeIn-moveDownUp;
  -webkit-animation-duration: 3s;

  animation-name: fadeIfadeIn-moveDownUpn;
  animation-duration: 3s;
}

@-webkit-keyframes fadeIn-moveDownUp { 
  from { opacity: 0; top: 100% }
  to { opacity: 0.85; top: 0%}
}

@keyframes fadeIn-moveDownUp {
  from { opacity: 0; top: 100% }
  to { opacity: 1; top: 0%}
  }

  .background-img-winter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* width: max-content; */
    opacity: 0.7;
    margin: 0;
    border: 0px;
    border-radius: 0;
    padding: 0;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 5s;
  
    animation-name: fadeIn;
    animation-duration: 5s;
    z-index: 12;

  }
  
  @-webkit-keyframes fadeIn { 
    from { opacity: 0;}
    to { opacity: 0.55; }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.55; }
    }

.transition-header{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1.3em 7.5em;
  font-size: 5em;
  justify-items: start;
  justify-self: center;
}

.caution{
  color: yellow;
}

.transition-title{
  font-weight: bold;
  color: red;
}

@keyframes slow {
  from {
    max-width: 5em;
  }
  to {
    max-width: 10em;
  }
}

.transition-box{
  display: grid;
  height: 100%;
  width: auto;
  background-color: rgb(255,255,255,0.85);
  padding: 1.5em;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 30px;

} 

.warning-msg-box{
  margin: 10px 0 0 10px;
}
.warning-msg{
     /* margin: 10px 0 0 10px; */
     white-space: inherit;

     width: 100%;
     font-size: 1.5em;
     /* animation: type 4s steps(60, end); */
     padding: 2.5% 0;
}

@keyframes type{ 
  from { 
       width: 0; 
       } 
   }

#season-transition-close{
  z-index: 15 !important;
  position: absolute;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}



