html {
  /* margin: auto; */
  /* height: vh; */
  /* width: vw; */
  background-color: #b6b6b6;
  font-family: "Trebuchet MS", "Helvatica";
}

body {
  margin: 0;
  /* text-align: center; */
  /* /* max-width: fit-content; */
}

#shop-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

body > button {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 45px;
  padding: 10px 30px;
  background-color: rgb(30, 194, 30);
  color: white;
  font-size: large;
}

body > button:hover {
  border: 1px solid white;
  background-color: rgb(64, 130, 42);
}

#shop {
  visibility: hidden;
  background-color: rgb(81, 81, 81);
  color: green;
  height: 100vh;
  width: 100vw;
}

#shop-component {
  position: relative;
  background-color: rgb(30, 194, 30);
  color: green;
  height: 70%;
  width: 60%;
  top: 15%;
  margin: auto;
  border-radius: 30px;
}

#shop-heading {
  margin-bottom: 10px;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: xx-large;
}

#shop-items {
  height: 80%;
  width: 95%;
  /* background-color: antiquewhite; */
  margin: auto;
}
